@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    
}
.title{
    text-align: center;
    font-family: 'Alice';
    font-size: 26px;
}
.img_block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #4C265E;
    font-size: 20px;
}
@media (max-width: 1400px){
    .title{
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .img_block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
