@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
.search{ 
    height: 40vh;  
    background-position: center;  
    background-image: url(../../../assets/img/top_background.3cfb43c4.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
} 
.search__container{ 
    height: 100%; 
    padding: 0 80px;
}  
.search__item{  
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
} 
.search__title{ 
    color: #fff;
    font-size: 42px; 
    font-weight: 800;
    text-align: center;
} 
 
.search__form{  
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 60%; 
    height: 60px;
}
.search__form_city, .search__form_region,.search__form_rating{   
    padding: 7px 15px 7px 15px;
    width: 30%;
    height: 60px; 
    border:none; 
    font-size: 16px;
}   


.search__form_city{ 
    border-radius: 5px 0 0 5px; 
    border-right: 1px solid #ccc;
}
.search__form_region{ 
    width: 43%; 
    border-radius: 0; 
    border-right: 1px solid #ccc;
}
.search__form_rating{ 
    width: 25% ; 
    border-radius: 0 5px 5px 0;
}  
select:active, select:focus{ 
    outline: none;
} 

.hotel{  
  height: 135vh;
}  
.hotel__container{ 
    height: 100%;  
    display: flex;
    flex-direction: column;  
    justify-content: space-around; 
    align-items: center;

}
.hotel__row{ 
    border-radius: 4px;  
    box-shadow: 2px 2px 16px rgba(0,0,0,.1); 
    height: 35vh;  
    /* height: 313px; */
    width: 70%;
    display: flex; 
    justify-content: space-between;
}   
.hotel__item{ 
    width: 32.3%;
}
.hotel__swiper{ 
    width: 25%; 
} 

.hotel__info{ 
    width: 25%; 
} 
.hotel__main{  
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}  
.border{ 
    height: 1px; 
    border-top: 1px solid #e5e5e5;
}
.hotel__main_container{ 
    height: 100%; 
    display: flex;  
    width: 100%;
    flex-direction: column; 
    justify-content: space-around; 
}
.hotel__name{  
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700; 
    line-height: 36px;
}   
.hotel__stars{ 
    margin-top: 0.3em;
} 
.hotel__text { 
    display: flex;
}
.hotel__address { 
    margin-left: 0.5em;  
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}
.hotel__info_wrapper{ 
    height: 100%;   
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;   
    padding: 12% 7.58% 11% 9.15%;
    border-left:1px solid #e5e5e5;
} 
.hotel__btn{  
    border: none; 
    outline: none;
    padding: 15px 60px; 
    border-radius: 5px; 
    background-color:  #67a1d6; 
    color: white;
} 
.hotel__title{ 
    color: #615f6c;  
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 16px;  
    line-height: 22px;

}
.swiper__item{ 
    height: 100%;
} 
.img_slide{ 
    height: 100%; 
    width: 100%; 
    border-radius:4px 0 0 4px;
} 
.spinner{ 
    height: 30vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}  
.spin{ 
    height: 50px; 
    width: 50px;
} 
.search_btn{ 
    width: 200px; 
    height: 50px;
} 
.hotel__advantages{ 
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}  
.hotel__box{ 
    margin-left: 2em;
} .hotel__pagination{ 
    display: flex; 
    justify-content: center; 
    align-items: center
}