.main {
    height: 100vh;
}
.container{ 
    height: 100%; 
    padding: 0 20%; 
    width: 100%;
}
.userInfo {
    display: flex;
}

.profileImgBlock__userInfo {
    display: flex;
    flex-direction: column;
}

.profileImg__userInfo {
    width: 200px;
}

.userInfo__summary {
    margin-left: 20px;
}