.main {
    height: 100vh;
    max-height: available;
    width: 100%;
    padding: 1em 5em 0 5em;
}

.userInfo {
    display: flex;
}

.profileImgBlock__userInfo {
    display: flex;
    flex-direction: column;
}

.profileImg__userInfo {
    width: 200px;
}

.userInfo__summary {
    margin-left: 20px;
}