@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Alice';
    margin-top: 5%;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    margin-bottom: 5%;
}
.item{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text{
    width: 80%;
    display: flex;
    justify-content: center;
    line-height: 2.4;
}
p {
    font-size: 20px;
    line-height: 2;
  }
  @media (max-width: 806px){
    .title{
        font-size: 18px;
    }
}
  @media screen and (max-width: 768px) {
    .text{
        width: 100%;
    }
    p {
      font-size: 14px;
    }
  }


/* 
@media(max-width: 1161px){
    
    .text{
        width: 100%;
    }
}
@media(max-width: 884px){
    .text{
        width: 100%;
        font-size: 10px;

    }
}
@media(max-width: 737px){
    .text{
        width: 100%;
        font-size: 9px;
    }
}
@media(max-width: 638px){
    .text{
        width: 100%;
        font-size: 8px;
    }
}
@media(max-width: 465px){
    .text{
        width: 100%;
        font-size: 6px;
    }
} */