@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  
/* .container{
    padding: 0 6.25%;
} */
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    background-image: url(../../../../assets/img/Welcome.png);
    font-weight: 900;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.title{ 
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif; 
    font-size: 26px;
    padding-top: 2em;
    color:#FFFFFF;
}
@media (max-width: 1920px) {
    .main{
        width: 100%;
    }
    
}
@media (max-width: 1200px) {
    .main{
        max-width: 100%;
    }
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .title h1{
        font-size: 56px;
    }
}
@media (max-width: 767px) {
    .main{
        max-width: 100%;
    }
    
}
@media (max-width: 550px){
    .title h1{
    font-size: 44px;
    line-height: 64px;
    }
}
