@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
/* .container{
    padding: 0 6.25%;
} */
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    background-image: url(../../../../assets/img/Welcome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

}
.title{ 
    width: 70%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Alice';
    font-size: 30px;
    padding-top: 2em;
    color:#FFFFFF;
}
@media (max-width: 1920px) {
    .main{
        width: 100%;
    }
    
}
@media (max-width: 1200px) {
    .main{
        max-width: 100%;
    }
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        text-align: center;

    }
    .title h1{
        font-size: 60px;
    }
}
@media (max-width: 767px) {
    .main{
        max-width: 100%;
    }
    .title{
        font-size: 15px;
    }
    
}
