@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 5%;
}
.title h2{
    font-size: 28px;
}

.img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 7px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.img img {
    height: 340px;
    border-radius: 10px;
}


.image {
    display: block;
    width: 100%;
    height: auto;
}
.column{
    position: relative;
}
.favourite{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.favouriteImg{
    height: 20px !important;
}
.heartBlock {
    position: absolute;
    top: 5px;
    right: 10px;
}

@media screen and (max-width: 1920px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

}

@media screen and (max-width: 1840px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 300px;
    }
}

@media screen and (max-width: 1790px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 240px;
    }
}

@media screen and (max-width: 1680px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 280px;
    }
}

@media screen and (max-width: 1520px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 260px;
    }
}

@media screen and (max-width: 1440px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 230px;
    }
}

@media screen and (max-width: 1400px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 230px;
    }
}

@media screen and (max-width: 1250px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
        grid-gap: 6px
    }

    .img img {
        height: 215px;
    }
}

@media screen and (max-width: 1212px) {
    .main {
        justify-content: center;
        align-items: center;
    }

    .img {
        width: auto;
        grid-column-gap: 16px;
        grid-row-gap: 23px;
        object-fit: fill;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 1fr;
        display: grid;
    }

    .img img {
        height: 400px;
    }
}

@media screen and (max-width: 876px) {
    .main {
        justify-content: center;
        align-items: center;
    }

    .img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        font-weight: 700;
        justify-items: center;
    }

    .title {
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
}

@media screen and (max-width: 680px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
        align-items: center;
    }

    .img img {
        height: 300px;
    }
}

@media screen and (max-width: 540px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 270px;
    }
}

@media screen and (max-width: 420px) {
    .main {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 240px;
    }
}