.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.login__block {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
    height: 60%;
    border: 1px solid black;
    border-radius: 20px;

}

.title__block {
    margin: 0 auto;
}

.title__block h3 {
    margin-top: 10px;
    font-size: 28px;
}

.navigate__block {
    margin: 0 auto;
}

.navigate__block p {
    font-size: 17px;
}
.navigate__block a {
    color: blue;
}

@media screen and (max-width: 900px) {
    .login__block {
        width: 90%;
    }
    .title__block h3 {
        margin-top: 10px;
        font-size: 23px;
    }
    .navigate__block p {
        font-size: 14px;
    }
}