.main{
    width: 100%;
    height: 100px;
    background-color: #F5E8FB;
}
.header{
    width: 100%;
    height: 100px;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header a {
    font-family: 'PT Root UI';
    font-weight: 500;
    font-size: 16px;
    padding: 28px;
    text-decoration: none;
    color: #000000;;
}
.logo{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.login button{
    width: 127px;
    height: 35px;
    background-color: #007D34;
    border: none;
    border-radius: 10px;
    color: #F6F6F6;
}
.login a{
    font-family: 'PT Root UI';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #000000;;
}
