@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  
 .advantages{ 
    display: flex;  
    align-items: center;  
    margin-top: 1em;
}  

.advantages__img{ 
    height: 20px;
} 
.advantages__title{ 
    font-size: 18px;  font-family: 'Poppins', sans-serif; 
    margin-left: 0.8em;
}  
.error{ 
    width: 100%;
    height: 100vh;  
    display: flex; 
    justify-content: center;
} 
.error__container{ 
    height: 100%; 
    display: flex;  
    width: 100%; 
    justify-content: center; 
}  
.error__item{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.error__image{ 
    height: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 
.error__text{   
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    height: 30%;
}
.error__img{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
} 
.error__title{  
    text-align: center;
    font-family: 'Popping' sans-serif; 
    font-weight: 700;
    font-size: 42px;
    line-height: 30px;
} 
.error__subtitle{  
    text-align: center;
    font-family: 'Popping' sans-serif; 
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}
.error__button{    
    padding: 21px 60px;
    border:none;
    color:white; 
    border-radius:10px; 
    outline: none; 
    font-size: 24px;
    background-color:  #67a1d6;
} 
.error__button.hotel__btn:focus{ 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width:1273px) {
    .advantages__title{ 
        font-size: 14px;  
    }  
    .advantages{ 
        margin-top: 0.35em;
    } 
    .advantages__img{ 
        height: 15px;
    }
} 
@media screen and (max-width:740px) {
    .advantages__img{ 
        height: 20px;
    } 
    .advantages__title{ 
        font-size: 16px;  
    }  
    .advantages{ 
        margin-top: 0; 
        margin-right: 0.3em;
    } 
} 
@media screen and (max-width:595px){ 
    .advantages{ 
        margin-top: 0.35em;
    } 
    .error__title{ 
        font-size: 34px; 
    } 
    .error__subtitle{ 
        font-size: 19px;
    }
    .error__button{    
        padding: 17px 46px;
        font-size: 24px;
        font-size: 18px;
    } 
} 
@media screen and (max-width:425px) {
    .error__title{ 
        font-size: 26px; 
    } 
    .error__subtitle{ 
        font-size: 16px;
    }
    .error__button{    
        padding: 15px 34px;
        font-size: 16px;
    } 
} 
@media screen and (max-width:320px) {
    .error__title{ 
        font-size: 22px; 
    } 
    .error__subtitle{ 
        font-size: 13px;
    }
    .error__button{    
        padding: 12px 28px;
        font-size: 13px;
    } 
}