@import url("~leaflet/dist/leaflet.css");
@import url("~react-leaflet-markercluster/dist/styles.min.css");

.leaflet-container {
  height: 70vh;
  width: 60vw;
  position: absolute;
  right: 20%;
  top: 15%;
}

.zoom-slider {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.basemaps-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 4px;
  background-color: white;
}
.basemaps-container select {
  width: 200px;
  height: 20px;
}
.main {
  height: 100vh;
  width: 100%;
}

.geojson-toggle {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-top: 0%;
  z-index: 1000;
  background: white;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}

.region-name__geojson {
  margin-left: 10px;
}

.geojson-toggle__btn {
  transition: all 0.2s linear;
}

.geojson-toggle__btn:hover {
  color: green !important;
  border: 1px solid green !important;
}
.geojson-toggle__btn__active {
  border: 1px solid green;
  color: green;
}
.geojson-toggle__btn__active:hover {
  color: green !important;
  border: 1px solid green !important;
}

.popup-fixed {
  position: fixed;
  top: 0;
  left: 1% !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
}


.popup-fixed p span {
  font-weight: 600;
}
.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  height: 100vh;
}

.image-object {
  width: 100%;
  max-width: 250px;
  height: 150px;
}
