@import url("~leaflet/dist/leaflet.css");
@import url("~react-leaflet-markercluster/dist/styles.min.css");

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.title-block__geojson h2 {
  font-size: 28px;
  margin-bottom: 1em;
}

.leaflet-container {
  height: 70vh;
  width: 60vw;
  margin: 0 auto;
  border-radius: 15px;
}

.zoom-slider {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.basemaps-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 4px;
  background-color: white;
}
.basemaps-container select {
  width: 200px;
  height: 20px;
}

.geojson-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  z-index: 1000;
  background: white;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}
.geojson-toggle__part {
  display: flex;
}

.region-name__geojson {
  margin-left: 10px;
}

.geojson-toggle__btn {
  transition: all 0.2s linear;
}

.geojson-toggle__btn:hover {
  color: green !important;
  border: 1px solid green !important;
}
.geojson-toggle__btn__active {
  border: 1px solid green;
  color: green;
}
.geojson-toggle__btn__active:hover {
  color: green !important;
  border: 1px solid green !important;
}

.popup-fixed {
  position: fixed;
  top: 0;
  left: 1% !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
}


.popup-fixed p span {
  font-weight: 600;
}
.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  height: 100vh;
}

.image-object {
  width: 100%;
  max-width: 250px;
  height: 150px;
}

@media screen and (max-width: 900px) {
  .geojson-toggle {
    flex-direction: column;
    margin: 0 auto 1em auto;
  }
  .geojson-toggle__part {
    flex-direction: row;
    margin-bottom: 0.5em;
  }
  .leaflet-container {
    width: 100%;
  }
  .title-block__geojson h2 {
    font-size: 22px;
  }

}