@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 .hotel{  
    position: relative ; 
    z-index: 5;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;  
    background-color: #e5e5e5;
} 
.hotel__container{ 
    padding: 0 22%; 
    height: 100%;  
    width: 100%;
    background-color:white
} 
.hotel__nav{  
    padding-top: 5%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 5.5%;
} 
.nav__link{ 
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 26px;  
    line-height: 22px; 
    text-decoration: none;  
    color: rgb(47, 46, 65);
}  
.hotel__item{    
    padding-top:4.5% ;
    height: 100%;
    display: flex; 
    flex-direction: column;  
} 
.hotel__rating{ 
    padding: 2.5% 0 ;
} 
.hotel__addvantages,.hotel__description{ 
    padding: 5% 0 0 0;
}
.hotel__name{ 
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 54px;   
    color: #2f2e41;
    line-height: 28px; 
}   
.hotel__description_title, .hotel__addvantages_title{  
    font-family: 'Poppins', sans-serif;  
    font-weight: 700;
    font-size: 42px;
    color: #2f2e41; 
}  
.hotel__description_title{ 
    padding-bottom: 2.5%;
}

.hotel__address_inner{ 
    display: flex; 
}
.hotel__address{  
    margin-left: 0.5em;
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 24px;  
    line-height: 21px; 

} 
.hotel__description_subtitle{  
    font-family: 'Poppins', sans-serif;  
    font-weight: 400; 
    line-height: 32px;
    font-size: 21px;
    color: #4f4f4f;
} 
.hotel__map{   
    
    margin-top: 7%;    
display: grid;  
place-self: center;
    height: 50vh; 
    width: 80%;
} 
.map{   
    border: 2px solid #67a1d6;
    height: 100%; border-radius: 10px;
    box-shadow: #67a1d6 0px 3px 8px;
} 
.hotel__swiper_big{ 
    height:550px; 
    width: 100%; 

}  

.hotel__imgages{  
    padding-top: 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    max-width: 60em
} 
.swiper__img{ 
    border-radius: 15px;
    height: 100%;  
    width: 100%;
} 
.hotel__swipet_wrapper{ 
    /* display: flex; 
    justify-content: center; 
    align-items: center; */
}   
.hotel__order{ 
    padding-top: 3.5%;
} 
.hotel__order_wrapper{ 
    display: flex; 
    justify-content: center;
} 
.order_link{ 
    height: 5em; 
    width: 28em;
}
.order_btn{    
    cursor: pointer;
    font-family: 'Poppins', sans-serif;  
    font-weight: 500; 
    font-size: 21px;
    border: none; 
    border-radius: 10px; 
    height: 100%; 
    width: 100%;
    /* padding: 3% 10%;   */
    color: white;
    background-color: #67a1d6;
} 
.order_btn:focus{ 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (max-width:1500px) {
    .hotel__container{ 
        padding: 0 15%;
    } 
    .hotel__name{ 
        font-size: 44px;   
        line-height: 28px; 
    }   
    .hotel__description_title, .hotel__addvantages_title{  
        font-size: 40px;
    }   
.hotel__description_subtitle{  
    line-height: 28px;
    font-size: 21px;
} 
} 
@media screen and (max-width:1024px) {
    .hotel__map{ 
        height: 50vh; 
        width: 100%;
    } 
} 
@media screen  and (max-width:768px){
    .hotel__container{ 
        padding: 0 5%;
    } 
    .nav__link{ 
        font-size: 21px;  
    }  
} 
@media screen and (max-width:650px) {
    .hotel__swiper_big{ 
        height:380px;
    }  
    .hotel__imgages{  
        max-width: 60em
    }  
    .hotel__name{ 
        font-size: 38px;
        line-height: 28px;
    } 
    .hotel__address{ 
        font-size: 19px;
    line-height: 21px;
    } 
    .hotel__description_title, .hotel__addvantages_title{  
        font-size: 36px;
    }    
    .hotel__description_subtitle{  
        line-height: 24px;
        font-size: 18px;
    } 
    .hotel__order{ 
        padding-top: 4.5%;
    } 
    .order_link{ 
        height: 4em; 
        width: 21em;
    } 
    .order_btn{   
        font-size: 18px;  
}  }
@media screen and (max-width:450px) {
    .hotel__description_title, .hotel__addvantages_title{  
        font-size: 28px;
    }    
    .hotel__description_subtitle{  
        line-height: 24px;
        font-size: 16px;
    }  
    .hotel__map{ 
        height: 45vh; 
    }  
    .hotel__name{ 
        font-size: 32px;
        line-height: 28px;
    } 
    .hotel__address{ 
        font-size: 17px;
    } 
    .hotel__item{    
        padding-top:8.5% ;
    } 
    .hotel__rating{ 
        padding: 4.5% 0 ;
    } 
    .hotel__addvantages,.hotel__description{ 
        padding: 15% 0 0 0;
    } 
    .order_link{ 
        height: 4em; 
        width: 17em;
    }
}